/Grupo4_T3_A5_I2/nbproject/private/
/Grupo4_T3_A5_I2_/Grupo4_T3_A5_I2_/Grupo4_T3_A5_I2/nbproject/private/
/Grupo4_T3_A5_I2_/Grupo4_T3_A5_I2/nbproject/private/
/Grupo4_T3_A5_I2/build/
/Grupo4_T3_A5_I2/dist/
/Grupo4_T3_A5_I2/Grupo4_T3_A5_I2/Grupo4_T3_A5_I2/build/